.header {
	height: 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 60px;
}

.nav {
	display: flex;

}

.logo {
	font-size: 25px;
}

.nav__item {
	margin-right: 30px;
}